In [1]:
#Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
#the list.

def sum_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

# Example usage
numbers = [1, 2, 3, 4, 5, 6]
print(sum_even_numbers(numbers))

12

In [2]:
#Create a Python function that accepts a string and returns the reverse of that string.

def reverse_string(s):
    return s[::-1]

# Example usage
text = "Daksh Pratibha"
print(reverse_string(text))

ahbitarP hskaD

In [3]:
#Implement a Python function that takes a list of integers and returns a new list containing the squares of
#each number.

def square_numbers(numbers):
    return [num ** 2 for num in numbers]

# Example usage
numbers = [10,20,30,40,50]
print(square_numbers(numbers))

[100, 400, 900, 1600, 2500]

In [4]:
# Write a Python function that checks if a given number is prime or not from 1 to 200.

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

# Checking numbers from 1 to 200
prime_numbers = [n for n in range(1, 201) if is_prime(n)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [5]:
# Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms

class FibonacciIterator:
    def __init__(self, n_terms):
        self.n_terms = n_terms
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.n_terms:
            raise StopIteration
        fib_num = self.a
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return fib_num

# Example usage
fib_iter = FibonacciIterator(10)
print(list(fib_iter))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [6]:
#Write a generator function in Python that yields the powers of 2 up to a given exponent.
def powers_of_two(max_exponent):
    for exponent in range(max_exponent + 1):
        yield 2 ** exponent

# Example usage
for power in powers_of_two(5):
    print(power)

1
2
4
8
16
32

In [8]:
#Implement a generator function that reads a file line by line and yields each line as a string.
def read_file_line_by_line(filename):
    """Generator function to read a file line by line."""
    try:
        with open(filename, 'r', encoding='utf-8') as file:
            for line in file:
                yield line.strip()  # Remove leading/trailing whitespace
    except FileNotFoundError:
        print(f"Error: The file '{filename}' was not found.")

# Full program to demonstrate the generator function
def main():
    filename = "example.txt"  # Change this to your actual file name

    print(f"Reading file: {filename}\n")

    for line in read_file_line_by_line(filename):
        print(line)

# Run the program
if __name__ == "__main__":
    main()

Reading file: example.txt

Error: The file 'example.txt' was not found.

In [9]:
#Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

# Sample list of tuples
tuples_list = [(1, 3), (4, 1), (2, 2), (5, 0)]

# Sorting using a lambda function (by second element)
sorted_list = sorted(tuples_list, key=lambda x: x[1])

# Output the sorted list
print(sorted_list)

[(5, 0), (4, 1), (2, 2), (1, 3)]

In [10]:
# Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

# Function to convert Celsius to Fahrenheit
celsius_to_fahrenheit = lambda c: (c * 9/5) + 32

# List of temperatures in Celsius
celsius_temperatures = [0, 10, 20, 30, 40, 100]

# Convert using map()
fahrenheit_temperatures = list(map(celsius_to_fahrenheit, celsius_temperatures))

# Output the results
print("Celsius:", celsius_temperatures)
print("Fahrenheit:", fahrenheit_temperatures)

Celsius: [0, 10, 20, 30, 40, 100]
Fahrenheit: [32.0, 50.0, 68.0, 86.0, 104.0, 212.0]

In [11]:
#Create a Python program that uses `filter()` to remove all the vowels from a given string.

def remove_vowels(string):
    vowels = "aeiouAEIOU"
    return "".join(filter(lambda char: char not in vowels, string))

# Example usage
input_string = "Daksh Pratibha"
output_string = remove_vowels(input_string)

print("Original String:", input_string)
print("String without vowels:", output_string)

Original String: Daksh Pratibha
String without vowels: Dksh Prtbh

In [14]:
#magine an accounting routine used in a book shop. It works on a list with sublists, which look like this:
#Order number			book title and author			quantity	price per item
#34587				learning python, mark Lutz		4		40.95
#98762				programming python, mark lut		5		56.80
#77226				head first python, paul barr		3		32.95
#88112				einfuhrang in python3, brend		3		24.99

#Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
#product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
#order is smaller than 100,00 €.

# List of orders: [Order Number, Book Title and Author, Quantity, Price per Item]
orders = [
    (34587, "Learning Python, Mark Lutz", 4, 40.95),
    (98762, "Programming Python, Mark Lutz", 5, 56.80),
    (77226, "Head First Python, Paul Barry", 3, 32.95),
    (88112, "Einführung in Python3, Bernd Klein", 3, 24.99)
]

# Function to calculate total price with the €10 increase for orders under €100
def calculate_order_totals(orders):
    return [
        (order[0], total + 10 if total < 100 else total)  # Increase by €10 if total < €100
        for order in orders
        for total in [round(order[2] * order[3], 2)]  # Calculate total price (quantity * price)
    ]

# Compute order totals
order_totals = calculate_order_totals(orders)

# Display the result
print("Order Number | Total Price (€)")
print("------------------------------")
for order in order_totals:
    print(f"{order[0]}        | €{order[1]:.2f}")

#Write a Python program using lambda and map.
# List of orders: [Order Number, Book Title and Author, Quantity, Price per Item]
orders = [
    (34587, "Learning Python, Mark Lutz", 4, 40.95),
    (98762, "Programming Python, Mark Lutz", 5, 56.80),
    (77226, "Head First Python, Paul Barry", 3, 32.95),
    (88112, "Einführung in Python3, Bernd Klein", 3, 24.99)
]

# Using lambda & map to calculate total prices
order_totals = list(map(lambda order:
    (order[0], round(order[2] * order[3], 2) + 10 if order[2] * order[3] < 100 else round(order[2] * order[3], 2)),
    orders
))

# Display the result
print("Order Number | Total Price (€)")
print("------------------------------")
for order in order_totals:
    print(f"{order[0]}        | €{order[1]:.2f}")

Order Number | Total Price (€)
------------------------------
34587        | €163.80
98762        | €284.00
77226        | €108.85
88112        | €84.97
Order Number | Total Price (€)
------------------------------
34587        | €163.80
98762        | €284.00
77226        | €108.85
88112        | €84.97